/* header CSS */
.headerwrap {
    display: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/97151480_2621556611490332_1935690184089228747_n.jpg");
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #563f46;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: baseline;
    border: 2px solid black;
}


header h1 {
    display: inline-block;
    font-size: 48px;
    position: center;
    margin-left: 150px;
}

header h1 .goddard {
    color: darkgrey
}

header nav {
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav a {
    text-decoration: underline;
    color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.hero {
    height: 350px;
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("../images/pexels-eberhard-grossgasteiger-2088238.jpg");
    background-size: cover;
    background-position: 80%, center;
    display: flex;
    position: relative;
}

.section-title {
    font-size: 36px;
    color: #563f46;
    text-align: left;
    border-bottom: 2px solid black;
}

.flex-container2 {
    display: flex;
}

#about-me {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.about-me-info {
    display: flex;
    padding: 20px;
    font-size: 18px;
    justify-content: center;
}

.about-me-info p {
    float: right;
    width: 80%;
    text-justify: right;
}

/* work code here */

#work {
    display: block;
    justify-content: center;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.dirtylovers {
        position: center;
        bottom: 8px;
        right: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bold;
}

#placeholder {
    border: 2px solid black;
    height: 300px;
    width: 500px;
}

#placeholder1 {
    display: inline-flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

/* contact me code here */
#contact-me {
    display: flex;
    text-align: row;
    justify-content: space-between;
}

.link {
    justify-content: space-between;
    /* text-align: row; */
    text-decoration: underline;
    color: white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* resume code here */
#aresume {
    color: #563f46;
    text-decoration: none;
}

main {
    /* display: flex; */
}

body {
    background-color: #8ca3a3;
}

a:hover {
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2px;
    font-size: 14px;
    background-color: #563f46;
    color: darkgrey;
}


@media screen and (max-width: 670px) {
    header {
        flex-direction: column;
        display: flex;
        justify-content: center;
        background-image: url("../images/97151480_2621556611490332_1935690184089228747_n.jpg");
        height: 100px;
        width: 97%;
        align-items:flex-end;
    }

    header h1 {
        flex-direction: right;
        float: right;
        font-size: 24px
    }

    header nav {
        display: inline-flex;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }
    #placeholder {
        border: 2px solid black;
        height: 200px;
        width: 325px;
    }
    #placeholder1 {
        height: 100px;
        width: 100px;
    }
}